html {
  scroll-padding-top: 15rem; /* Adjust this value to the height of your sticky header */
}

body{
    margin: 0;
    border: 1rem solid gold;

}
hr {
    width: calc(100vw - 3rem);
    color: navy;
}


header{
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    display:  block;
    align-items: center;
    text-align: center;
    border: solid black;
    background-color: navy;
    color: gold;
    
}
header > .intro {
    display:  inline-flex;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color: gold;
    
}

.contact {
  /*
    display: flex;
    justify-content: space-evenly;
    */
    
}
.contact > a {
    
    padding: .2rem;
    margin-left: 3vw;
    margin-right: 3vw;
    background-color: navy;
    color: gold;
}

nav {
margin-top:1rem ;
    
}
nav > a {
    border: .2rem solid navy;
    padding: .1rem;
    background-color: navy;
    margin-left: 1vw;
    margin-right:1vw;
    color: aqua;
}
.flag{
    height: 5rem;
}

#college {
    display: inline-block;
}
.accordion{
    cursor: pointer;

}
article {
    display: none;

}

article.show {
    display: block;
}

section > h2 {
    position: relative;
}

section span {
    transform: rotate(180deg);
}
span.rotate {
    transform: rotate(0);
}

.command-containor{
    border: .2rem solid black;
    margin: .1rem;
    padding: 1rem;
 
}
.command{
    width: 100%;
}
.jobGroup{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr ;
    gap: 10px;
    
}
.year{

}
.job{
    width: 60vw;

}
.skill{
    width: 100%;
}
.solidworks > iframe{
    width: 100%;
   height: 600px;
}

.club > ifram{
    width:743px;
     height: 418px;

}

.reserachImg > img {
    width: 20vw;
    max-width: 25vh;
}
.navy > iframe{

    width: 100%;
    height: 600px;
}

.exoskeletion > img, .watch > img, .SumoBot img {
    max-height: 20vh;
    max-width: 80vh;
}
.infograph {
     max-height: 40vh;
    max-width: 80vh;
}

.MICS {
    display: inline-block;
}
.MiCS > img {
    width: 20vw;
    max-width: 25vh;
}

.USMAP > img{
    max-height: 40vh;
    max-width: 80vh;
}

footer {
    background-color: navy;
    color: gold;
}

